<footer>
  <div class="footer-row">
    <div class="footer-left">
      <address>
        <strong>Cookley Village Hall & Sports Club</strong><br />
        Lea Ln,<br />
        Cookley,<br />
        Kidderminster<br />
        DY10 3RH<br />
        <a href="https://www.google.com/maps/place/COOKLEY+VILLAGE+HALL+%26+SPORTS+CLUB" target="_blank">View on Google Maps</a>
      </address>
    </div>
    <div class="footer-center">
      <a href="#"><img src="images/worcesterfalogo.png" alt="Worcester FA Logo" /></a>
      <a href="#"><img src="images/2staraccred.png" alt="FA Accreditation" /></a>
    </div>
    <div class="footer-right">
      <span>Connect with us</span>
      <a href="https://www.facebook.com/CookleySportsFootballClub/" target="_blank">
        <img src="images/Facebook_Logo_Secondary.png" alt="Facebook Icon" />
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2025 Cookley Sports Football Club. All rights reserved.
  </div>
</footer>
